<section class="section"
         *ngIf="user">
  <h2 class="title">{{!user.id ? 'New' : 'Edit'}} user</h2>
  <div class="field">
    <label class="label">Name</label>
    <div class="control">
      <input class="input"
             type="text"
             maxlength="100"
             [(ngModel)]="user.name">
    </div>
  </div>
  <div class="field">
    <div class="label">Description</div>
    <label class="checkbox">
      <input type="checkbox"
             value="R"
             [(ngModel)]="accessR">
      R
    </label>
    <label class="checkbox">
      <input type="checkbox"
             value="W"
             [(ngModel)]="accessW">
      W
    </label>
  </div>
  <div class="buttons">
    <button class="button"
            routerLink="/admin">Cancel</button>
    <button class="button is-primary"
            (click)="save()">Save</button>
  </div>
</section>
